BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_VFP=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y
BR2_TARGET_GENERIC_HOSTNAME="f3rp70"
BR2_TARGET_GENERIC_ISSUE="Welcome to F3RP70"
BR2_ROOTFS_OVERLAY="${BR2_EXTERNAL_F3RP70_PATH}/board/rootfs_overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="${BR2_EXTERNAL_F3RP70_PATH}/board/post-createfs.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="${BR2_EXTERNAL_F3RP70_PATH}/board/fwup.conf"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.14.164"
BR2_LINUX_KERNEL_PATCH="https://cdn.kernel.org/pub/linux/kernel/projects/rt/4.14/older/patches-4.14.164-rt73.tar.xz ${BR2_EXTERNAL_F3RP70_PATH}/board/kernel-patches"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="${BR2_EXTERNAL_F3RP70_PATH}/board/linux-4.14.164-rt73-ert3xlnx.defconfig"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="f3rp7x_1r f3rp7x_2l"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HOST_FWUP=y
